form {
    margin-left: 40%;
    margin-top: 1%;
}
#name{
    margin-left: 42%;
    margin-top: 20%; 
    font-weight: bold;
    font-family: sans-serif;
    font-size: xx-large;
}
#gimag{
    margin-left: 90%;
}

#adv{
    margin-left: 80%;
    margin-bottom: 99%;
}

#query {
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
}